<main>
	<section class="about-page">
		<div class="container ">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="about-title">Project /Binoo/</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<p class="about-description">
						Hello World! We are a Seoul-based &amp; Pittsburgh-based web developer. Enjoying hands-on experience and pushing the boundaries together, We love to ideate, design and develop something new outside the box as a <span class="result-link">thinker and doer</span>. Please feel free to reach out to us anytime if you wanna be our friend and chat with us :) </p>
				</div>
			</div>
			<div class="row">
				<div class="about-profile col-sm-3 col-sm-offset-2">
					<div class="about-img m-auto center-block"><%= image_tag 'js.jpg', class: "img-responsive center-block", alt: "jisup" %></div>
					<div class="profile-text text-center">
						<p class="profile-role">Backend</p>
						<h2 class="profile-name">Jisup <span class="profile-detail">@Seoul</span></h2>
						<div class="link">
							<a class="link-item" target="_blank" href="https://www.linkedin.com/in/jisup-lee/" aria-label="Go to LinkedIn Page">
								<i class="fa fa-linkedin"></i>
							</a>
							<a class="link-item" target="_blank" href="https://github.com/jisup" aria-label="Go to Github Page">
								<i class="fa fa-github"></i>
							</a>
							<a class="link-item" target="_blank" href="mailto:blindschokolade@gmail.com" aria-label="Send an Email">
								<i class="fa fa-envelope"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="about-profile col-sm-3 col-sm-offset-2">
					<div class="about-img m-auto center-block"><%= image_tag 'sw.jpg', class: "img-responsive center-block", alt: "sunwoo" %></div>
					<div class="profile-text text-center">
						<p class="profile-role">Frontend</p>
						<h2 class="profile-name">Sunwoo <span class="profile-detail">@Pittsburgh</span></h2>

						<div class="link">
							<a class="link-item" target="_blank" href="https://www.linkedin.com/in/sunny-sunwoo-park/" aria-label="Go to LinkedIn Page">
								<i class="fa fa-linkedin"></i>
							</a>
							<a class="link-item" target="_blank" href="https://github.com/sunny-sunwoo" aria-label="Go to Github Page">
								<i class="fa fa-github"></i>
							</a>
							<a class="link-item" target="_blank" href="mailto:seonwoo1@andrew.cmu.edu" aria-label="Send an Email">
								<i class="fa fa-envelope"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<footer class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<%= link_to "HOME", root_path, class: "result-link" %>
			</div>
			<div class="col-sm-2 col-sm-offset-8">
				<%= link_to "May.2018", root_path, class: "result-link" %>
			</div>
		</div>
	</div>
</footer>
