<main>
	<section class="landing-page">
		<div class="container ">
			<div class="row">
				<h2 class="about-title col-12">Project /Binoo/</h2>
			</div>
			<div class="row">
				<p class="about-description" style="width:100%">We are a Seoul-based &amp; Pittsburgh-based web developer. <br> We love to ideate, design and develop something enjoyable with web technologies.</p>
			</div>
			<div class="row">
				<div class="about-profile col-xs-3 col-xs-offset-2">
					<div class="about-img m-auto center-block"><%= image_tag 'js.png', class: "img-responsive center-block", alt: "jisup" %></div>
					<div class="profile-text text-center">
						<p class="profile-role">Backend</p>
						<h2 class="profile-name">Jisup <span class="profile-detail">@Seoul</span></h2>
						<div class="link">
							<a class="link-item" target="_blank" href="https://www.linkedin.com/in/jisup-lee/" aria-label="Go to LinkedIn Page">
								<i class="fa fa-linkedin"></i>
							</a>
							<a class="link-item" target="_blank" href="https://github.com/jisup" aria-label="Go to Github Page">
								<i class="fa fa-github"></i>
							</a>
							<a class="link-item" target="_blank" href="mailto:blindschokolade@gmail.com" aria-label="Send an Email">
								<i class="fa fa-envelope"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="about-profile col-xs-3 col-xs-offset-2">
					<div class="about-img m-auto center-block"><%= image_tag 'sw.png', class: "img-responsive center-block", alt: "sunwoo" %></div>
					<div class="profile-text text-center">
						<p class="profile-role">Frontend</p>
						<h2 class="profile-name">Sunwoo <span class="profile-detail">@Pittsburgh</span></h2>
						
						<div class="link">
							<a class="link-item" target="_blank" href="https://www.linkedin.com/in/sunny-sunwoo-park/" aria-label="Go to LinkedIn Page">
								<i class="fa fa-linkedin"></i>
							</a>
							<a class="link-item" target="_blank" href="https://github.com/sunny-sunwoo" aria-label="Go to Github Page">
								<i class="fa fa-github"></i>
							</a>
							<a class="link-item" target="_blank" href="mailto:seonwoo1@andrew.cmu.edu" aria-label="Send an Email">
								<i class="fa fa-envelope"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href="" class=result-link>Proj.Binoo</a>
			</div>
			<div class="col-md-2 col-md-offset-8">
				<a href="" class="result-link"> May 2018</a>
			</div>
		</div>
	</div>
</footer>
