<% provide(:title, "Binoo - Find Your Doggie") %>
<% provide(:description, 'Find Your Doggie') %>
<% provide(:image, request.base_url + asset_path('landing-logo.jpg')) %>
<main>
	<section class="landing-page">
		<div class="container">
			<div class="row text-center flex-container">
				<div class="col-lg-6 col-md-10">
					<%= image_tag 'landing-logo.jpg', class: "landing-img img-responsive center-block", alt: "logo" %>
					<h2 class="landing-title">Find Your Doggie </h2>
					<p class="landing-description center-block"> Hello there! Here is a simple personality test to see who you are in the lovely doggie world. Now, take a breath and meet your new best friend! &#x1F436;</p>
					<%= link_to "start", questions_path, class:"btn__start" %>
				</div>
			</div>
		</div>
	</section>
</main>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<%= link_to "Proj.Binoo", about_path, class:"result-link" %>
			</div>
			<div class="col-sm-2 col-sm-offset-8">
				<%= link_to "May.2018", root_path, class: "result-link" %>
			</div>
		</div>
	</div>
</footer>