<section class="landing-page">
	<div class="container flex-container">
		<div class="row text-center">
			<div class="col-12">
				<%= image_tag 'landing-logo.jpg', class: "landing-img", alt: "logo" %>
				<h2 class="landing-title">Find Your Doggie </h2>
				<p class="landing-description center-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, optio, blanditiis. Totam ducimus molestias atque, veritatis soluta asperiores dicta neque. &#x1F436;</p>
				<%= link_to "start", questions_path, class:"btn__start" %>
				
			</div>
		</div>
	</div>
</section>

