@import "bootstrap-sprockets";
@import "bootstrap";

/* Common Settings */
html {
  /* 1rem === 15px */
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Sunflower', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Sunflower', sans-serif;
  letter-spacing: 0.07em;
  color: #2d3436;
}

a {
  font-famliy: inherit;
  color: inherit;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  flex-direction: column;
}

/* landing page */
.landing-img {
 width: 300px;
 transition: 0.2s all ease-in-out;
 &:hover {
   transform: scale(0.98, 0.98); /** default is 1, scale it to 1.5 */
   opacity: 0.9;
 }
}

.landing-title {
 color: #ff9f43;
 font-weight: 700;
 transition: 0.2s all ease-in-out;
 &:hover {
    color: #feca57;
  }
}

.landing-description {
 color: #8395a7;
 text-align: center;
 font-weight: 200;
 transition: 0.2s all ease-in-out;
  &:hover {
    color: rgba(131, 149, 167, 0.7);
  }
}

.btn__start {
  display: inline-block;
  margin: 10px;
  background-color: none;
  color: #ff9f43;
  font-size: 0.73rem;
  line-height: 1.82;
  font-weight: 700;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  border: 1px solid #ff9f43;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  outline: none;
  &:hover {
    color: #fff;
    text-decoration: none;
    border-color: #ff9f43;
    background-color: #ff9f43;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
  }
  &:focus {
    text-decoration: none;
    color: #ff9f43;
    background-color: none;
  }
}

/* about page */
.about-title {
  background-color: #ff9f43;
  color: #fff;
  font-weight: 700;
  float: left;
  padding: 7px;
  font-size: 1.5rem;
  transition: 0.2s all ease-in-out;
  &:hover{
    background-color: #feca57;
  }
}
.about-img {
 width: 200px;
 height: 200px;
 margin-top: 30px;
 margin-bottom: 30px;
 border-radius: 1000px;
 overflow: hidden;
 transition: 0.2s all ease-in-out;

 img {
   width: 100%;
   height: auto;
 }

 &:hover{
   opacity: 0.8;
   filter: alpha(opacity=50); /* For IE8 and earlier */
   transform: scale(0.98, 0.98);
 }
}

.profile-role {
  color: #ff9f43;
  margin-bottom: 0px;
  font-weight: 800;
}

.profile-detail {
  color: #8395a7;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 1rem;
}

.profile-name {
  color: #8395a7;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.2s all ease-in-out;
  &:hover {
    color: #feca57;
  }
}

.link-item{
  display: inline-block;
  width: 20px;
}


.fa {
  color: #8395a7;
  transition: 0.2s all ease-in-out;
  &:hover {
    color: #ff9f43;
  }
}

.about-profile {
  margin-bottom: 70px;
}

.about-description {
  color: #8395a7;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 50px;
  transition: 0.2s all ease-in-out;
  &:hover {
    color: rgba(131, 149, 167, 0.7);
  }
}
/* question page */
.each-question {
  margin: 3vh;
  padding: 25px;
  border: 1px solid #dfe6e9;
}

.question-content {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #636e72;
}

input[type="radio"] {
  z-index: -1;
  opacity: 0;

}

label {
  display: inline-block;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}


.check-no {
  border: 5px solid #ff9ff3;
  margin-left: 5%;
  margin-right: 3%;
  vertical-align: middle;
  &:hover {
    background-color: #ff9ff3;
    transition: 0.1s all ease-in-out;
  }
}

.check-maybe {
  border: 5px solid #c8d6e5;
  margin-right: 3%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  &:hover {
    background-color: #c8d6e5;
    transition: 0.1s all ease-in-out;
  }
}
.check-yes {
  border: 5px solid #54a0ff;
  margin-right: 5%;
  vertical-align: middle;
  &:hover {
    background-color: #54a0ff;
    transition: 0.1s all ease-in-out;
  }
}

.label-no {
  font-size: 1.3rem;
  font-weight: 700;
  color: #ff9ff3;
  line-height: 50px;
  vertical-align: middle;
}

.label-yes {
  font-size: 1.3rem;
  font-weight: 700;
  color: #54a0ff;
  line-height: 50px;
  vertical-align: middle;
}

.btn__find {
  margin-bottom: 30px;
}

/* result page */

footer {
  // margin-bottom: 10px;
  position: absolute;
  width:100%;
  height:60px;   /* Height of the footer */
}
.result-page {
  // background-color: rgba(0,210,211, 0.2)
}

.result-img {
 width: 200px;
 height: 200px;
 transition: 0.2s all ease-in-out;
 &:hover{
   opacity: 0.8;
   filter: alpha(opacity=50); /* For IE8 and earlier */
   transform: scale(0.98, 0.98);
 }
}

.result-title {
 color: #feca57;
 margin: 2rem;
}

.result-dog {
 color: #ff9f43;
 font-weight: 800;
}

.result-description {
 // width: 500px;
 text-align: center;
 font-weight: 300;
 margin-bottom: 1.8rem;
 color: #8395a7;
 transition: 0.2s all ease-in-out;
  &:hover {
    color: rgba(131, 149, 167, 0.7);
  }
}

.result-link {
  text-decoration: none !important;
  color: #feca57;
  transition: 0.2s all ease-in-out;
  font-weight: 400;

  &:hover {
    color: #ff9f43;
  }

  &:focus {
    color: #feca57;
  }
}

.result-bold {
  color: #ff9f43;
  font-weight: 500;
}
